* {
  font-size: 16px;
  box-sizing: border-box;
  --blue: #1e90ff;
  --white: #ffffff;
  --purple: #9933cc;
  --black: #000000;
}

/* footer */
.footer a {
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}
.footer {
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}
.footer-div {
  margin: auto;
}

.social_footer li {
  display: none;
}
/* end footer */
.dropdown-menu {
  background-color: var(--purple);
}
.dropdown-menu a {
  color: var(--white) !important;
  text-align: center;
}
.dropdown-menu a:hover {
  color: var(--black) !important;
}
.active {
  background-color: var(--blue);
}
/* header navbar */
.fab {
  font-size: 24px;
}
.header {
  text-align: center;
}

.navbar-light {
  background-color: var(--purple);
}
.navbar-light a {
  color: var(--white);
}
.navbar-light a:hover {
  color: var(--black);
}

.navbar-light .navbar-toggle .icon-bar {
  background-color: var(--white);
}

/* end header navbar */
/* Media */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.title {
  color: grey;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: var(--blue);
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #555;
}
.card-body {
  padding: 0 16px;
}

/* end Media */
/* picture */
.picture {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}

/* picture end */
.goals {
  background-color: var(--blue);
}

/* 769px collapse */
@media only screen and (max-width: 768px) {
  .social {
    display: none;
  }

  .social_footer li {
    display: inline;
    list-style: none;
    padding: 10px;
  }
}
