* {
  font-size: 16px;
  --blue: #1e90ff;
  --white: #ffffff;
  --purple: #9933cc;
  --black: #000000;
}
/* footer */
.footer a {
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}
.footer {
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
}
.footer-div {
  margin: auto;
}

.social_footer {
  display: none;
}
/* end footer */

.active {
  background-color: var(--blue);
}
/* header navbar */
.fab {
  font-size: 24px;
}
.header {
  text-align: center;
}
.navbar-light {
  background-color: var(--purple);
}
.navbar-light a {
  color: var(--white);
}
.navbar-light a:hover {
  color: var(--black);
}

.navbar-light .navbar-toggle .icon-bar {
  background-color: var(--white);
}
/* end header navbar */
/* 769px collapse */
@media only screen and (max-width: 768px) {
  .social {
    display: none;
  }

  .social_footer {
    display: inline;
    list-style: none;
  }
}
